/* ===== BOX MODEL ===== */
header {
  padding: 10px;
  margin: 10px;
  background-color: #ffcccc; /* light red */
}

nav {
  padding: 10px;
  margin: 10px;
  background-color: #ccffcc; /* light green */
}

main {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  background-color: #ccccff; /* light blue */
}

footer {
  padding: 10px;
  margin: 10px;
  background-color: black;
}

/* ===== CONTACT LIST ===== */
.contact {
  text-align: center;
  list-style-position: inside;
}

.contact li {
  display: block;
}

/* ===== FOOTER COPYRIGHT ===== */
#copyright {
  text-align: right;
  color: white;
  background-color: black;
}
