/* ===== BOX MODEL ===== */
header {
  padding: 10px;
  margin: 10px;
  background-color: #ffcccc; /* light red */
}
body {
  background-image: url("../images/bg.jpg");
  background-repeat: repeat; /* repeats both directions */
}

nav {
  padding: 10px;
  margin: 10px;
  background-color: #ccffcc; /* light green */
}

main {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  background-color: #ccccff; /* light blue */
}

footer {
  padding: 10px;
  margin: 10px;
  background-color: black;
}

/* ===== CONTACT LIST ===== */
.contact {
  text-align: center;
  list-style-position: inside;
}
.gallery-img {
  width: 40%;
  height: auto;
  margin: 10px;
}


.contact li {
  display: block;
}

/* ===== FOOTER COPYRIGHT ===== */
#copyright {
  text-align: right;
  color: white;
  background-color: black;
}
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

a:active {
  color: green;
  text-decoration: none;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 15px;
}

